h2 {
  color: #1367c1;
  font-size: 17px;
  font-style: italic;
  opacity: 0.5;
}

h4 {
  color: #1367c1;
  font-size: 25px;
  line-height: 1;
}

.weather-app {
  display: block;
  margin: 60px auto;
  margin-bottom: 5px;
  padding: 50px 50px;
  max-width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  border: 3px solid;
  border-radius: 15px;
  border-color: #f9ca33;
  background: radial-gradient(
    821px at 85.3% 20.8%,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(234, 236, 255, 0.6) 90%
  );
  animation: color 10s infinite linear;
}

@keyframes color {
  0% {
    background: radial-gradient(
      821px at 85.3% 20.8%,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(234, 236, 255, 0.6) 90%
    );
  }
  100% {
    background: rgb(234, 236, 255) 90%;
  }
}

.col-6 {
  margin-top: 4px;
}

.form-label {
  font-size: 17px;
  color: #1367c1;
  font-style: italic;
  opacity: 0.5;
}

.output {
  padding: 0;
  margin: 0;
}

.city {
  font-weight: 500;
  font-size: 40px;
}

.city:hover {
  color: #f9ca33;
}

.date {
  font-size: 17px;
  font-weight: lighter;
}

.degree {
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
}

.units {
  font-weight: 100;
  font-size: 17px;
  top: -32px;
}

.units a {
  color: #1367c1;
}
.units a:hover {
  color: #f9ca33;
}

.icon {
  max-width: 120px;
}

.icon-forecast {
  max-width: 70px;
}

.details {
  font-size: 15px;
  font-style: italic;
  color: #1367c1;
}
.sky-condition {
  text-transform: capitalize;
}

.sky-title,
.humidity-title,
.wind-title {
  opacity: 0.5;
}

.forecast-block {
  margin: 10px;
  text-align: center;
}

.forecast-block:hover {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  border-color: #f9ca33;
  background-color: rgba(255, 255, 255, 0.6);
}

.forecast-day {
  font-size: 17px;
  font-weight: bold;
  color: #1367c1;
}

.forecast-temperature-max {
  font-size: 15px;
  color: #1367c1;
}

.forecast-temperature-min {
  font-size: 15px;
  font-weight: lighter;
  color: #1367c1;
  opacity: 0.5;
}

.forecast-condition {
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: #1367c1;
}

.temp {
  font-size: 28px;
}

.forecast {
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.link {
  display: block;
  margin: 0px auto;
  font-size: 12px;
  margin-top: 30px;
  font-style: italic;
  max-width: 900px;
  color: #1367c1;
}
.gh-link {
  color: #1367c1;
}
.gh-link:hover {
  color: #f9ca33;
}
